@{
    Layout = "";
}
@using Nop.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>After you confirm your order you will redirected to the DPS Payment Express website.</b><br />
            <img src="@Url.Content("~/Plugins/Payments.PaymentExpress/Content/Images/DPS_PX.png")" alt="DPS Payment Express" />
        </td>
    </tr>
    <tr>
        <td>
            Please note: Payments will only be process in New Zealand Dollars. The Payment Express exchange rate may differ slightly from our own exchange rate.
        </td>
    </tr>
</table>
