@{
    Layout = "";
}
@using Nop.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>You will be redirected to Payment Express after you've confirmed your order</b>
        </td>
    </tr>
</table>
